:root {
  --color-logo-text: #000000;
  --color-primery-text: #757575;
  --color-text-logonav: #2196f3;
  --color-secondery-text: #212121;
  --color-hero-title: #ffffff;
  --color-footer-text: rgba(255, 255, 255, 0.6);
  --color-bgn-hero: #2f303a;
  --color-bgn-btn: #f5f4fa;
  --color-border-header: #ececec;
  --color-border-main: #eeeeee;
  --color-icons-partners: #afb1b8;
  --color-btn-hero-active: #188ce8;
  --color-bg-ocupation-text: rgba(47, 48, 58, 0.8);
  --color-bg-animation-panel: rgba(33, 150, 243, 0.9);
  --color-border-footer-form: rgba(255, 255, 255, 0.3);
  --color-border-modal: rgba(33, 33, 33, 0.2);
  --color-modal-textera: rgba(117, 117, 117, 0.5);
  --cubic-all: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-primery-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
}

.conteiner {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  color: var(--color-secondery-text);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.title--functional {
  text-align: center;
  margin-bottom: 50px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.link:hover, .link:focus {
  color: var(--color-text-logonav);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--color-text-logonav);
  color: var(--color-hero-title);
}
.btn__hero {
  padding: 10px 32px;
  transition: background-color 250ms var(--cubic-all), box-shadow 250ms var(--cubic-all);
}
.btn__hero:hover, .btn__hero:focus {
  background-color: var(--color-btn-hero-active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn--footer {
  position: relative;
  margin-left: 12px;
  padding: 10px 62px 10px 28px;
  transition: background-color 250ms var(--cubic-all), box-shadow 250ms var(--cubic-all);
}
.btn--footer:hover, .btn--footer:hover {
  background-color: var(--color-btn-hero-active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn__functional {
  min-width: 73px;
  padding: 6px 22px;
  color: var(--color-secondery-text);
  background-color: var(--color-bgn-btn);
  font-weight: 500;
  transition: background-color 250ms var(--cubic-all), color 250ms var(--cubic-all), box-shadow 250ms var(--cubic-all);
}
.btn__functional:hover, .btn__functional:focus {
  background-color: var(--color-text-logonav);
  color: var(--color-hero-title);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn__modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--cubic-all);
}
.btn__modal:hover, .btn__modal:focus {
  background-color: var(--color-btn-hero-active);
}

.logo {
  display: block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo--functionalheader {
  margin-right: 93px;
  color: var(--color-logo-text);
}
.logo--functionalfooter {
  margin-bottom: 20px;
  color: var(--color-hero-title);
}
.logo__span {
  color: var(--color-text-logonav);
}

.header {
  border-bottom: 1px solid var(--color-border-header);
}

.conteiner--header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__item:not(:first-child) {
  margin-left: 50px;
}
.navigation__link {
  color: var(--color-secondery-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1 0.2em;
}
.navigation__link--functional {
  position: relative;
  display: block;
  padding: 32px 0;
  transition: color 250ms var(--cubic-all);
}
.navigation__current {
  color: var(--color-text-logonav);
  display: block;
}
.navigation__current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: var(--color-text-logonav);
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact__item:not(:last-child) {
  margin-right: 40px;
}
.contact__link {
  color: var(--color-primery-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.contact__link--functional {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: color 250ms var(--cubic-all);
}
.contact__link:hover .contact__svg, .contact__link:focus .contact__svg {
  fill: var(--color-text-logonav);
}
.contact__svg {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms var(--cubic-all);
}

.hero {
  text-align: center;
  padding: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
}
.hero--bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-pictures.jpg");
}
.hero__title {
  color: var(--color-hero-title);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__title--functional {
  max-width: 696px;
  margin: 0 auto 30px;
}

.function {
  padding-top: 94px;
  padding-bottom: 47px;
}
.function__list {
  display: flex;
}
.function__item {
  width: calc((100% - 90px) / 4);
}
.function__item:not(:first-child) {
  margin-left: 30px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--color-bgn-btn);
}
.box--functional {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}
.box__svg {
  fill: var(--color-secondery-text);
}
.box__title {
  color: var(--color-secondery-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
.box__title--functional {
  margin-bottom: 10px;
}

.ocupation {
  padding-top: 47px;
  padding-bottom: 94px;
}
.ocupation__list {
  display: flex;
}
.ocupation__item {
  width: calc((100% - 60px) / 3);
}
.ocupation__item:not(:first-child) {
  margin-left: 30px;
}
.ocupation__conteiner {
  position: relative;
}
.ocupation__img {
  display: block;
  height: auto;
  max-width: 100%;
}
.ocupation__wrapper {
  background-color: var(--color-bg-ocupation-text);
}
.ocupation__wrapper--functional {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
}
.ocupation__text {
  color: var(--color-hero-title);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.ocupation__text--functional {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--color-bgn-btn);
}
.team__list {
  display: flex;
}
.team__item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-hero-title);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__item--function {
  width: calc((100% - 90px) / 4);
}
.team__item:not(:first-child) {
  margin-left: 30px;
}
.team__img {
  display: block;
}

.box-card {
  padding: 30px 0;
  text-align: center;
}
.box-card__title {
  color: var(--color-secondery-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.box-card__title--functional {
  margin-bottom: 10px;
}
.box-card__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.box-card__text--function {
  margin-bottom: 16px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__item:not(:first-child) {
  margin-left: 10px;
}
.social__link {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-hero-title);
}
.social__link--function {
  width: 44px;
  height: 44px;
  transition: background-color 250ms var(--cubic-all);
}
.social__link:hover, .social__link:focus {
  background-color: var(--color-text-logonav);
}
.social__link:hover .social__icon {
  fill: var(--color-hero-title);
}
.social__icon {
  fill: var(--color-icons-partners);
  transition: fill 250ms var(--cubic-all);
}

.clients {
  padding: 94px 0;
}
.clients__list {
  display: flex;
}
.clients__item {
  width: calc((100% - 150px) / 6);
}
.clients__item:not(:first-child) {
  margin-left: 30px;
}
.clients__link {
  border: 1px solid var(--color-icons-partners);
  border-radius: 4px;
}
.clients__link--functional {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  transition: border 250ms var(--cubic-all);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--color-text-logonav);
}
.clients__link:hover .clients__svg, .clients__link:focus .clients__svg {
  fill: var(--color-text-logonav);
}
.clients__svg {
  fill: var(--color-icons-partners);
}
.clients__svg--functional {
  transition: fill 250ms var(--cubic-all);
}

.addition {
  padding-top: 94px;
  padding-bottom: 94px;
}
.addition__list {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addition__item:not(:first-child) {
  margin-left: 8px;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
}
.pictures__item {
  width: calc((100% - 60px) / 3);
  border-top: none;
}
.pictures__item:not(:nth-child(3n+3)) {
  margin-right: 30px;
}
.pictures__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}
.pictures__item:hover .card-img__text {
  transform: translateY(0);
}
.pictures__link {
  display: block;
  transition: box-shadow 250ms var(--cubic-all);
}
.pictures__link:hover, .pictures__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-img {
  position: relative;
  overflow: hidden;
}
.card-img__site {
  display: block;
  width: 100%;
}
.card-img__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--color-hero-title);
  background-color: var(--color-bg-animation-panel);
}
.card-img__text--functional {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms var(--cubic-all);
}

.wrapper-card {
  width: 100%;
  padding: 20px 24px;
  border: 1px solid var(--color-border-main);
  border-top: none;
}
.wrapper-card__title {
  color: var(--color-secondery-text);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.wrapper-card__title--fuctional {
  margin-bottom: 4px;
  max-width: 322px;
  border-top: none;
}
.wrapper-card__text {
  color: var(--color-primery-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.wrapper-card__text--functional {
  max-width: 322px;
}

.footer {
  background-color: var(--color-bgn-hero);
}
.footer--functional {
  padding-top: 60px;
  padding-bottom: 60px;
}

.conteiner--footer {
  display: flex;
  align-items: baseline;
}

.address {
  font-style: normal;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  display: block;
  text-decoration: none;
  color: var(--color-hero-title);
}
.address__link--functional {
  color: var(--color-footer-text);
  transition: color 250ms var(--cubic-all);
}
.address__link--functional:hover, .address__link--functional:focus {
  color: var(--color-hero-title);
}

.box-social {
  margin-left: 70px;
}
.box-social__text {
  color: var(--color-hero-title);
  font-weight: 700;
  text-transform: uppercase;
}
.box-social__text--functional {
  display: block;
  margin-bottom: 20px;
}

.social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-footer__item:not(:first-child) {
  margin-left: 10px;
}
.social-footer__link {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-footer__link--sizelink {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--cubic-all);
}
.social-footer__link:hover, .social-footer__link:focus {
  background-color: var(--color-text-logonav);
}
.social-footer__icon {
  fill: var(--color-hero-title);
}

.box-form {
  margin-left: auto;
}
.box-form__text {
  color: var(--color-hero-title);
  font-weight: 700;
  text-transform: uppercase;
}
.box-form__text--functional {
  display: block;
  margin-bottom: 20px;
}

.conteiner-form {
  display: flex;
}

.form-footer__input {
  border: 1px solid var(--color-border-footer-form);
  outline: none;
  color: var(--color-hero-title);
  background: none;
}
.form-footer__input:focus {
  border: 1px solid var(--color-text-logonav);
}
.form-footer__input:focus::-moz-placeholder {
  color: var(--color-text-logonav);
}
.form-footer__input:focus:-ms-input-placeholder {
  color: var(--color-text-logonav);
}
.form-footer__input:focus::placeholder {
  color: var(--color-text-logonav);
}
.form-footer__input--functional {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  transition: border 250ms var(--cubic-all);
}
.form-footer__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--color-footer-text);
}
.form-footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--color-footer-text);
}
.form-footer__input::placeholder {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--color-footer-text);
}

.btn__svg {
  position: absolute;
  top: 50%;
  margin-left: 10px;
  fill: var(--color-hero-title);
  transform: translateY(-50%);
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-bg-ocupation-text);
}
.backdrop.is-hidden .modal {
  transform: scale(1.2) translate(-50%, -50%);
}

.modal {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--color-hero-title);
}
.modal--finctional {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px 39px 40px 41px;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms var(--cubic-all);
}
.modal__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: var(--color-hero-title);
}
.modal__button:hover .modal__svg, .modal__button:focus .modal__svg {
  fill: var(--color-text-logonav);
}
.modal__svg {
  fill: var(--color-logo-text);
}

.form-modal {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.form-modal__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-secondery-text);
}
.form-modal__text--functional {
  margin-bottom: 12px;
  text-align: center;
}
.form-modal__label {
  margin-bottom: 4px;
}
.form-modal__conteiner {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-modal__conteiner--coment {
  margin-bottom: 20px;
}
.form-modal__conteiner--checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.form-modal__inputcheckbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: 1px;
}
.form-modal__labelcheckbox {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.form-modal__labelcheckbox--functional {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-modal__labelcheckbox:hover {
  cursor: pointer;
}

.card-form {
  position: relative;
}
.card-form__input {
  outline: none;
  border: 1px solid var(--color-border-modal);
}
.card-form__input--functional {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  transition: border 250ms var(--cubic-all), fill 250ms var(--cubic-all);
}
.card-form__input:focus {
  border: 1px solid var(--color-text-logonav);
}
.card-form__input:focus + .card-form__svg {
  fill: var(--color-text-logonav);
}
.card-form__svg {
  fill: var(--color-secondery-text);
}
.card-form__svg--functional {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 12px;
  transform: translateY(-50%);
}

.form-modal__conteiner--coment textarea {
  padding: 12px 16px;
  resize: none;
  height: 120px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--color-border-modal);
  transition: border 250ms var(--cubic-all);
}
.form-modal__conteiner--coment textarea:focus {
  border: 1px solid var(--color-text-logonav);
}
.form-modal__conteiner--coment textarea::-moz-placeholder {
  color: var(--color-modal-textera);
}
.form-modal__conteiner--coment textarea:-ms-input-placeholder {
  color: var(--color-modal-textera);
}
.form-modal__conteiner--coment textarea::placeholder {
  color: var(--color-modal-textera);
}

.box-checkbox {
  border-radius: 3px;
  border: 3px solid var(--color-secondery-text);
}
.box-checkbox--functional {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 15px;
  height: 15px;
}
.box-checkbox__svg {
  fill: var(--color-hero-title);
}

.form-modal__link {
  color: var(--color-text-logonav);
}
.form-modal__link--functional {
  position: relative;
  display: block;
  text-decoration: none;
  margin-left: 5px;
}
.form-modal__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 0.5px;
  background-color: var(--color-text-logonav);
}

.form-modal__inputcheckbox:checked + .form-modal__labelcheckbox .box-checkbox {
  background-color: var(--color-text-logonav);
  border: 3px solid var(--color-text-logonav);
}/*# sourceMappingURL=main.css.map */