.btn {
  cursor: pointer;
  border-radius: 4px;
  border: none;

  font-family: inherit;
  @include font(16px, 700, 1.9, 0.06em);

  background-color: var(--color-text-logonav);
  color: var(--color-hero-title);

  &__hero {
    padding: 10px 32px;

    transition: background-color 250ms var(--cubic-all),
      box-shadow 250ms var(--cubic-all);

    &:hover,
    &:focus {
      background-color: var(--color-btn-hero-active);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }

  &--footer {
    position: relative;
    margin-left: 12px;
    padding: 10px 62px 10px 28px;

    transition: background-color 250ms var(--cubic-all),
      box-shadow 250ms var(--cubic-all);

    &:hover,
    &:hover {
      background-color: var(--color-btn-hero-active);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }

  // Portfolio
  &__functional {
    min-width: 73px;
    padding: 6px 22px;

    color: var(--color-secondery-text);
    background-color: var(--color-bgn-btn);

    font-weight: 500;

    transition: background-color 250ms var(--cubic-all),
      color 250ms var(--cubic-all), box-shadow 250ms var(--cubic-all);

    &:hover,
    &:focus {
      background-color: var(--color-text-logonav);
      color: var(--color-hero-title);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  // Modal
  &__modal {
    @include elment-centered;
    padding: 10px 52px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms var(--cubic-all);

    &:hover,
    &:focus {
      background-color: var(--color-btn-hero-active);
    }
  }
}
