.logo {
  display: block;
  text-decoration: none;

  @include font(24px, 700, 1.2, 0.03em);
  font-family: "Raleway", sans-serif;

  @include desktop-min {
    @include font(26px, 700, 1.2, 0.03em);
  }

  &--functionalheader {
    color: var(--color-logo-text);
  }

  &--functionalfooter {
    margin-bottom: 20px;

    color: var(--color-hero-title);
  }
  &__span {
    color: var(--color-text-logonav);
  }
}
