:root {
  --color-logo-text: #000000;
  --color-primery-text: #757575;
  --color-text-logonav: #2196f3;
  --color-secondery-text: #212121;
  --color-hero-title: #ffffff;
  --color-footer-text: rgba(255, 255, 255, 0.6);
  --color-bgn-hero: #2f303a;
  --color-bgn-btn: #f5f4fa;
  --color-border-header: #ececec;
  --color-border-main: #eeeeee;
  --color-icons-partners: #afb1b8;
  --color-btn-hero-active: #188ce8;
  --color-bg-ocupation-text: rgba(47, 48, 58, 0.8);
  --color-bg-animation-panel: rgba(33, 150, 243, 0.9);
  --color-border-footer-form: rgba(255, 255, 255, 0.3);
  --color-border-modal: rgba(33, 33, 33, 0.2);
  --color-modal-textera: rgba(117, 117, 117, 0.5);
  --cubic-all: cubic-bezier(0.4, 0, 0.2, 1);
}
