.header {
  border-bottom: 1px solid var(--color-border-header);

  @include table-max {
    padding: 10px 0;
  }
}

.header .conteiner--header {
  display: flex;
  align-items: center;
}

.conteiner--header {
  @include table-min {
    @include flex-centered;
  }
}

// Navigation

.navigation {
  display: flex;
  align-items: center;

  @include table-max {
    width: 100%;
    justify-content: space-between;
  }

  &__list {
    @include table-max {
      display: none;
    }

    @include table-min {
      @include flex-centered;
      margin-left: 87px;
    }

    @include desktop-min {
      margin-left: 92px;
    }
  }

  &__item:not(:first-child) {
    @include table-min {
      margin-left: 50px;
    }
  }

  &__link {
    color: var(--color-secondery-text);

    @include font(14px, 500, 1, 1 0.2em);

    &--functional {
      @include table-min {
        position: relative;
        display: block;
        padding: 32px 0;

        transition: color 250ms var(--cubic-all);
      }
    }
  }

  &__current {
    color: var(--color-text-logonav);
    display: block;

    &::after {
      position: absolute;

      left: 0;
      bottom: 0;
      content: "";
      width: 100%;
      height: 4px;
      display: block;
      border-radius: 2px;

      background-color: var(--color-text-logonav);
    }
  }
}

// Contacts header

.contact {
  @include table-max {
    display: none;
  }
  @include table-min {
    display: inline-block;
    align-items: center;
    margin-left: auto;

    @include desktop-min {
      display: flex;
    }
  }

  &__item:not(:last-child) {
    @include desktop-min {
      margin-right: 30px;
    }
  }

  &__link {
    color: var(--color-primery-text);

    @include table-min {
      @include font(12px, 500, 1.1, 0.02em);
    }

    @include desktop-min {
      @include font(14px, 500, 1.1, 0.02em);
    }
    &--functional {
      display: flex;
      align-items: center;
      padding: 5px;

      transition: color 250ms var(--cubic-all);
    }

    &:hover .contact__svg,
    &:focus .contact__svg {
      fill: var(--color-text-logonav);
    }
  }

  &__svg {
    @include table-min {
      margin-right: 8px;
    }

    @include desktop-min {
      margin-right: 10px;
    }

    fill: currentColor;

    transition: fill 250ms var(--cubic-all);
  }
}
