.hero {
  text-align: center;
  padding: 118px 0;

  @include desktop-min {
    padding: 200px 0;
  }
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;

  &--bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-pictures.jpg");
  }

  &__title {
    color: var(--color-hero-title);

    @include font(26px, 900, 1.6, 0.06em);
    text-transform: uppercase;

    @include desktop-min {
      @include font(44px, 900, 1.4, 0.06em);
    }

    &--functional {
      margin: 0 auto 30px;
      max-width: 360px;
      @include desktop-min {
        max-width: 696px;
      }
    }
  }
}
