.ocupation {
  padding-top: 47px;
  padding-bottom: 94px;

  &__list {
    display: flex;
  }

  &__item {
    width: calc((100% - 60px) / 3);

    &:not(:first-child) {
      margin-left: 30px;
    }
  }

  &__conteiner {
    position: relative;
  }

  &__img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  &__wrapper {
    background-color: var(--color-bg-ocupation-text);

    &--functional {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 70px;
    }
  }

  &__text {
    color: var(--color-hero-title);

    @include font(14px, 700, 1.1, 0.03em);
    text-transform: uppercase;

    &--functional {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
}
